[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.6"
django-cors-headers = "==3.8.0"
django-filter = "==2.4.0"
django-simple-history = "==3.0.0"
django-url-filter = "==0.3.15"
djangorestframework = "==3.12.4"
djangorestframework-jwt = "==1.11.0"
drf-yasg = "==1.20.0"
flake8 = "==3.9.2"
gunicorn = "==20.1.0"
ipython = "*"
isort = "==5.9.3"
pep8 = "==1.7.1"
Pillow = "==8.3.1"
psycopg2 = "==2.9.1"
python-dateutil = "==2.8.2"
python-dotenv = "==0.19.0"
requests = "==2.26.0"
names = "*"
django-autocomplete-light = "*"

[dev-packages]

[requires]
python_version = "3.9"
