{% extends 'base/base.html' %}  {% load static %} {% block extra_stylesheet %}
<link
  href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="{% static 'plugins/select2/dist/css/select2.min.css' %}"
/>
{% endblock extra_stylesheet %} {% block container %}

<!-- begin row -->
<div class="row">
  <!-- begin col-12 -->
  <div class="col-xl-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <!-- begin panel-heading -->
      <div class="panel-heading">
        <h4 class="panel-title"></h4>
        <div class="panel-heading-btn">
          <a
            href="{% url 'hits:views:list' %}"
            class="btn btn-xs btn-icon btn-default"
          >
            <i class="fa fa-arrow-left"></i
          ></a>
          <a
            href="javascript:;"
            class="btn btn-xs btn-icon btn-default"
            data-click="panel-reload"
            ><i class="fa fa-redo"></i
          ></a>
          <a
            href="javascript:;"
            class="btn btn-xs btn-icon btn-warning"
            data-click="panel-collapse"
            ><i class="fa fa-minus"></i
          ></a>
        </div>
      </div>
      <!-- end panel-heading -->
      <!-- begin alert -->
      <!-- <div class="alert alert-secondary fade show">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
				In the modern world of responsive web design tables can often cause a particular problem for designers
				due to their row based layout. Responsive is an extension for DataTables that resolves that problem by
				optimising the table's layout for different screen sizes through the dynamic insertion and removal of
				columns from the table.
			</div> -->
      <!-- end alert -->
      <!-- begin panel-body -->
      <div class="panel-body">
        <div class="row form-group m-b-10">
          <label class="col-md-3 col-form-label">Asesino *</label>
          <div class="col-md-9">
            <select
              name="hitmen"
              id="hitmen"
              class="form-control"
              style="width: 100%"
            >
              <option disabled selected>Asesino</option>
            </select>
          </div>
        </div>
        <div class="row form-group m-b-10">
          <label class="col-md-3 col-form-label">Nombre del Objetivo *</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="first_name" />
          </div>
        </div>
        <div class="row form-group m-b-10">
          <label class="col-md-3 col-form-label">Apellido del Objetivo *</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="last_name" />
          </div>
        </div>
        <div class="row form-group m-b-10">
          <label class="col-md-3 col-form-label">Nivel de peligrosidad *</label>
          <div class="col-md-9">
            <select
              name="level"
              id="level"
              class="form-control"
              style="width: 100%"
            >
              <option disabled selected>Nivel de peligrosidad</option>
            </select>
          </div>
        </div>
        <div class="row form-group m-b-10">
          <label class="col-md-3 col-form-label">Detalles del Hit *</label>
          <div class="col-md-9">
            <textarea
              name="hit_detail"
              id="hit_detail"
              class="form-control"
              cols="30"
              rows="2"
            ></textarea>
          </div>
        </div>

        <button
          class="btn btn-sm btn-primary pull-right m-t-5"
          onclick="return save_hit();"
        >
          Guardar
        </button>
      </div>
      <!-- end panel-body -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
  <div></div>
</div>
<!-- end row -->
{% endblock container %} {% block extra_javascript %}
<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/table-manage-responsive.demo.js' %}"></script>

<script src="{% static 'plugins/select2/dist/js/select2.min.js' %}"></script>

<script>
  html = `Hit<small class="subtitle"> Nuevo</small>`;
  $("#page-header").empty().html(html);

  $("#hitmen").select2({
    placeholder: "Asesino",
    allowClear: true,
    minimumResultsForSearch: 3,
    ajax: {
      url: "/hits/autocompletes/hitmens/",
      data: function (params) {
        var query = {
          q: params.term,
          page: params.page || 1,
        };

        // Query parameters will be ?search=[term]&page=[page]
        return query;
      },
    },
  });
  $("#level").select2({
    placeholder: "Nivel de peligrosidad",
    allowClear: true,
    minimumResultsForSearch: Infinity,
    data: [
      { id: 1, text: "Fácil" },
      { id: 2, text: "Intermedio" },
      { id: 3, text: "Difícil" },
    ],
  });

  function save_hit() {
    let $data = {
      hitmen: $("#hitmen").val(),
      first_name: $("#first_name").val(),
      last_name: $("#last_name").val(),
      level: $("#level").val(),
      hit_detail: $("#hit_detail").val(),
    };

    error = 0;
    for (data in $data) {
      if ($data[data] == "" || $data[data] == null) {
        error += 1;
      }
    }

    if (error > 0) {
      alert("error");
    } else {
      $.ajax({
        url: "/hits/api/v1/hits/",
        method: "POST",
        type: "json",
        data: $data,
        headers: { Authorization: "jwt " + HDD.get(Django.name_jwt) },
        success: function (response) {
          swal({
            title: "Excelente!",
            text: "Has creado a un nuevo Hit!",
            icon: "success",
            timer: 2000,
            showCancelButton: false,
            showConfirmButton: false,
          });

          setTimeout(function () {
            location.href = Django.next;
          }, 5000);
        },
        error: function (error) {
          console.log(error);
        },
      });
    }

    return false;
  }
</script>

{% endblock extra_javascript %}
