{% load static %} {% load tags %}
<!-- begin sidebar scrollbar -->
<div data-scrollbar="true" data-height="100%">
  <!-- begin sidebar user -->
  <ul class="nav">
    <li class="nav-profile">
      <a href="javascript:;" data-toggle="nav-profile">
        <div class="cover with-shadow"></div>
        <div class="image image-icon bg-black text-grey-darker">
          <!-- <i class="fa fa-user"></i> -->
          <img src="{{ request.user.avatar.url }}" alt="" />
        </div>
        <div class="info">
          <b class="caret pull-right"></b>
          <span class="text_username"></span>
          <!-- <small>Front end developer</small> -->
        </div>
      </a>
    </li>
    <li>
      <ul class="nav nav-profile">
        <li>
          <a href="/admin"><i class="fa fa-cog"></i> Administrador</a>
        </li>
        <!-- <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li> -->
      </ul>
    </li>
  </ul>
  <!-- end sidebar user -->
  <!-- begin sidebar nav -->
  <ul class="nav">
    <li class="nav-header">Navigation</li>
    <li>
      <a href="/hits/" data-toggle="ajax">
        <i class="fa fa-crosshairs"></i>
        <span>Hit's</span>
      </a>
    </li>
    {% if request.user|has_group:"big_boss" or request.user|has_group:"managers"%}
    <li>
      <a href="/hitmen/" data-toggle="ajax" class="">
        <i class="fa fa-user-tie"></i>
        <span>Hitmen's</span>
      </a>
    </li>

    <li>
      <a href="{% url 'hits:bulk:list' %}" data-toggle="ajax" class="">
        <i class="fa fa-dot-circle"></i>
        <span>Reasignar Hit's</span>
      </a>
    </li>

    {% endif %}


    <!-- begin sidebar minify button -->
    <li>
      <a
        href="javascript:;"
        class="sidebar-minify-btn"
        data-click="sidebar-minify"
        ><i class="fa fa-angle-double-left"></i
      ></a>
    </li>
    <!-- end sidebar minify button -->
  </ul>
  <!-- end sidebar nav -->
</div>
<!-- end sidebar scrollbar -->
