{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>SpyAgent</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'css/default/app.min.css' %}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin login-cover -->
	<div class="login-cover">
		<div class="login-cover-image" style="background-image: url(/static/img/login-bg/login-bg-17.jpg)" data-id="login-cover-image"></div>
		<div class="login-cover-bg"></div>
	</div>
	<!-- end login-cover -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-v2" data-pageload-addclass="animated fadeIn">
			<!-- begin brand -->
			<div class="login-header">
				<div class="brand">
					<span class="logo"></span> <b>Spy</b> Agent
					<small>Formulario de Ingreso</small>
				</div>
				<div class="icon">
					<i class="fa fa-lock"></i>
				</div>
			</div>
			<!-- end brand -->
			<!-- begin login-content -->
			<div class="login-content">
					<div class="form-group m-b-20">
						<input type="text" class="form-control form-control-lg" id="username" placeholder="Email" required />
					</div>
					<div class="form-group m-b-20">
						<input type="password" class="form-control form-control-lg" id="password" placeholder="Password" required />
					</div>

					<div class="login-buttons">
						<button type="button" onclick="return login();" class="btn btn-success btn-block btn-lg">Ingresar</button>
					</div>
					<div class="m-t-20">
						¿Aún no se ha registrado?, Haga click <a href="{% url 'users:account:register' %}"> aquí</a> para registrarse.
					</div>
			</div>
			<!-- end login-content -->
		</div>
		<!-- end login -->
		
		

	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'js/app.min.js' %}"></script>
	<script src="{% static 'js/theme/default.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'js/demo/login-v2.demo.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script src="{% static 'plugins/js-cookie/js.cookie.js' %}"></script>
	<script src="{% url 'javascript' %}"></script>
	<script src="{% static 'scripts/common.js' %}"></script>
	<script src="{% static 'plugins/sweetalert/dist/sweetalert.min.js' %}"></script>
	<script src="{% static 'scripts/login.js' %}"></script>
</body>
</html>
